FLASK_APP=flasky.py
FLASK_CONFIG=development
FLASK_RUN_PORT=8082
FLASK_RUN_HOST=localhost
SECRET_KEY=3245g65676g767sda1334okds

# 邮箱凭证
MAIL_USERNAME=zmc_li@foxmail.com
MAIL_PASSWORD=idycznxncyvhdeef

# mysql
DEV_DATABASE_URL=xx

# 七牛云凭证
QINIU_ACCESS_KEY=xx
QINIU_SECRET_KEY=xx
QINIU_BUCKET_NAME=xx
QINIU_DOMAIN=xx.com

# 应用启动模式
RUN_APP=True